Flask
flask-cors
ollama
langchain
langchain_chroma
langchain_ollama
langchain_community
faiss-gpu-cu12
sentence-transformers
OpenCC
edge-tts
git+https://github.com/openai/whisper.git
flask[async]
langchain_classic
